# create script (e.g., /etc/systemd/system/chain.service)
[Unit]
Description=Chain Process
After=network.target

[Service]
User={{ ansible_user }}
Environment="PATH=$PATH:$HOME/go/bin"
WorkingDirectory={{ chain_home }}
ExecStart={{ chain_bin }} start --log_level debug --pruning nothing --grpc.address :10192 --home {{ chain_home }}

[Install]
WantedBy=multi-user.target
